.itemInfo {
  display: flex;
  flex-direction: column;
  padding: 8px 15px 0 15px;
}

.itemInfoTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: grey;

  .limit {
    border: 1px solid #fff;
    padding: 8px 5px;
    margin: 0 15px;
    border-radius: 50%;
  }
}

.desc {
  font-size: 11.5px;
  margin-bottom: 15px;
  text-align: justify;
}

.genre {
  font-size: 15px;
  color: var(--main-color);

  text-align: right;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.63);
  max-width: max-content;
  font-weight: bold;
  margin-bottom: 10px;
}
