.navbar {
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.25) 50%);

  &.scrolled {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 5%,
      var(--main-color) 98%
    );
  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 40px;
        cursor: pointer;
      }
      span {
        margin-right: 40px;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
        }

        span {
          padding: 10px 20px;
          cursor: pointer;
        }

        &:hover {
          .options {
            display: flex;
            flex-flow: column nowrap;
            position: absolute;
            background-color: var(--main-color);
            border-radius: 0 0 5px 5px;
            box-shadow: 1px 1px 3px var(--main-color);
          }
        }
      }
    }

    .icon {
      margin: 0 15px;
      cursor: pointer;
    }
  }
}
